.banner {
  background-image: url("./image/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1100px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}
.para {
  position: absolute;
  font-style: italic;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1px;
  width: 300px;
  top: 50%;
  transform: translate(20%, -50%);
}
.para button {
  font-style: italic;
  padding: 8px 30px;
  color: #e9ecef;
  font-size: 16px;
  border: none;
  background-color: #212529;
}

.para button:hover,
button:active {
  cursor: pointer;
  color: #212529;
  background-color: #e9ecef;
  outline: 2px solid #000;
}
.para p {
  margin: 0;
  padding: 0;
}
.para p:first-child {
  color: #868e96ca;
  font-size: 16px;
}
.para p:nth-child(2) {
  color: #212529;
  font-size: 32px;
  font-weight: 500;
  margin: 15px 0;
}
