.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  width: 1100px;
  min-width: 500px;
  margin: 0 auto;
}
.heading {
  font-weight: 400;
  font-size: 24px;
}
.link {
  text-decoration: none;
  margin: 0 10px;
  color: #000;
}
.active {
  text-decoration: none;
  margin: 0 10px;
  color: #fd8d14;
}
.button-logout {
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-style: italic;
}
.button-logout:hover,
.button-logout:active {
  color: #fd8d14;
  cursor: pointer;
}
